<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Guess who tweeted it!</title>

    <link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript" src="ejs.js"></script>
  </head>
  <body>
    <div class="jumbotron">
	<% if (userName) {%> 
	<h4><div class="label label-primary">Playing as: <%= userName %></div></h4>
	<% } %>
    	<h2>Tweet #<%= currentQuestionNumber %>
	<% if (currentQuestionNumber > 1) {%> 
	   (<%= percentCorrect %>% correct) 
	<% } %>
	<input type="button" class="btn btn-default" value="Restart game" id="reset">
	</h2>
    	<h1 id="<%= tweetId %>"><%= tweet %></h1>
    </div>
    <h3 class="col-md-12 pull-left" style="margin-top: 0px" id="status">Who tweeted it?</h3>
    <div class="col-md-6 btn-group-vertical" role="group">
	<% for(var i = 0; i < 3; i++) {%>
	<button class="btn btn-default btn-lg" id="<%= users[i].id %>">
	 <img style="float:left" src="<%= encodeURI(users[i].profile_image_url_https) %>">&nbsp;<%= users[i].name %>
	</button>
	<% } %>
    </div>
    <div class="col-md-6 btn-group-vertical" role="group">
	<% for(var i = 3; i < 6; i++) {%>
	<button class="btn btn-default btn-lg" id="<%= users[i].id %>">
	 <img style="float:left" src="<%= encodeURI(users[i].profile_image_url_https) %>">&nbsp;<%= users[i].name %>
	</button>
	<% } %>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
	$("#reset").click(function(e) {
	  e.preventDefault();
	  $.get("/resetScores").done(function(resp) { window.location.href = '/game'; });
	}); 
	$("button").click(function(e) {
	  e.preventDefault();
	  var buttonId = $(this).attr("id");
	  $.get("/checkAnswer?tweetid=" + $("h1").attr("id") + "&userid=" + buttonId)
	   	.done(function(resp) {
		   if (resp.answer && resp.answer === 'correct') {
		     var elemText = "Great job! ";
		     if (resp.winStreak > 1) {
		       elemText = elemText.concat(resp.winStreak + " in a row!");
		     }
	     	     $("#status").text(elemText);
	     	     $("#status").addClass("text-center");
	     	     $("#status").addClass("text-success");
	     	     $("#" + buttonId).addClass("btn-success");
		   } else if (resp.answer && resp.answer === 'incorrect') {
	     	     $("#status").text("Nope, " + $("#"+resp.userid).text() + " tweeted this.");
	     	     $("#status").addClass("text-center");
	     	     $("#status").addClass("text-danger");
	     	     $("#" + buttonId).addClass("btn-danger");
	     	     $("#" + resp.userid).addClass("btn-success");
		   }
		   $("button").attr("disabled", "disabled");
		   setTimeout(function() { window.location.href = '/game'; }, 1000); 
	        });
	}); 
       });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71718829-1', 'auto');
  ga('send', 'pageview');
    </script>
  </body>
</html>
